@import './reset';
@import '../variables/global';

/* stylelint-disable */
.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #232323;
}

.black {
    background: deepskyblue;
}

.white {
    background: #eed4ac;
}

.selected {
    background: brown; 
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #22c022;
}